body {
  margin:0;
  background-color: #c00ccc;
}

.banner{
  padding:4px;
  background-color: #000000;
  color: #ffffff;
}

.box{
  padding:10px;
  margin:10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}
